{% extends 'baseback2.html.twig' %}

{% block body %}
<div class="content-body">
    <div class="card-body">
        <div id="ajouterTypeServiceDiv">
        <h4>Modiffier le type {{type.id}}</h4>
        {{ form_start(formt, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row mb-3">
            <label for="{{ formt.nom.vars.id }}" class="col-md-3 col-form-label text-primary">Nom</label>
            <div class="col-md-6">
                {{ form_widget(formt.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ formt.description.vars.id }}" class="col-md-3 col-form-label text-primary">Description</label>
            <div class="col-md-6">
                {{ form_widget(formt.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Modifier <span class="btn-icon-right"><i class="fa fa-check"></i></span></button>
            <a href="{{ path('app_type_service') }}" class="btn btn-danger">Annuler <span class="btn-danger"><i class="fa fa-times"></i></span></a>
        </div>
        {{ form_end(formt) }}
        </div>
    </div>
</div>
     
{% endblock %}

{% block js %}
<script src="{{ asset('assets/back/vendor/global/global.min.js') }}"></script>
<script src="{{ asset('assets/back/js/quixnav-init.js') }}"></script>
<script src="{{ asset('assets/back/js/custom.min.js') }}"></script>
<script src="{{ asset('assets/back/vendor/chartist/js/chartist.min.js') }}"></script>
<script src="{{ asset('assets/back/vendor/moment/moment.min.js') }}"></script>
<script src="{{ asset('assets/back/vendor/pg-calendar/js/pignose.calendar.min.js') }}"></script>
<script src="{{ asset('assets/back/js/dashboard/dashboard-2.js') }}"></script>


{% endblock %}