{% extends 'backtemplates/baseback.html.twig' %}
{% block nav %}
{% endblock %}
{% block side %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/back/images/favicon.png') }}">
    <link href="{{ asset('assets/back/css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Sign up your account</h4>

                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}

                                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                                    <div class="form-group">
                                        <label for="{{ form.username.vars.id }}"><strong>Username</strong></label>
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'username'} }) }}
                                        <div class="text-danger">
                                            {{ form_errors(form.username) }}
                                        </div> <!-- Affichage des erreurs -->

                                    </div>

                                    <div class="form-group">
                                        <label for="{{ form.address.vars.id }}"><strong>Address</strong></label>
                                        {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'address'} }) }}
                                        <div class="text-danger">
                                            {{ form_errors(form.address) }}
                                        </div> <!-- Affichage des erreurs -->

                                    </div>

                                    <div class="form-group">
                                        <label for="{{ form.email.vars.id }}"><strong>Email</strong></label>
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'hello@example.com'} }) }}
                                        <div class="text-danger">
                                            {{ form_errors(form.email) }}
                                        </div> <!-- Affichage des erreurs -->

                                    </div>

                                    <div class="form-group">
                                        <label for="{{ form.password.vars.id }}"><strong>Password</strong></label>
                                        {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                                        <div class="text-danger">
                                            {{ form_errors(form.password) }}
                                        </div> <!-- Affichage des erreurs -->

                                    </div>



                                    {{ form_end(form) }}
                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" href="{{ path('app_login') }}">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/back/vendor/global/global.min.js') }}"></script>
    <script src="{{ asset('assets/back/js/quixnav-init.js') }}"></script>
    <script src="{{ asset('assets/back/js/custom.min.js') }}"></script>
{% endblock %}